table {
    border-collapse: collapse; 
    text-align: center;
    }
            
th, td {
    border: 2px solid; 
    text-align: center;
    padding: 3px;
    }

    html,
    body {
        text-align: center;
        /* height: 100%; */
    }
    
    body {
        margin: 0;
        
        text-align: center;
        background: linear-gradient(45deg,#fff2df,#d9ad7c,#a2836e,#674d3c);
        /* font-family: sans-serif;
        font-weight: 100; */
    }
    
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    table {
        margin-left: auto;
        margin-right: auto;
        height: 10px;
        /* width: 100%; */
        border-collapse: collapse;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0,0,0,0.1);
    }
    
    th,
    td {
        padding: 4px;
        background-color: rgba(255,255,255,0.2);
        color:#4f3222;
    }
    
    th {
        text-align: center;
    }
    
    thead {
        th {
            background-color: #55608f;
        }
    }
    
    tbody {
        tr {
            &:hover {
                background-color: rgba(255,255,255,0.3);
            }
        }
        td {
            position: relative;
            &:hover {
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: -9999px;
                    bottom: -9999px;
                    background-color: rgba(255,255,255,0.2);
                    z-index: -1;
                }
            }
        }
    }